<div class="author">
    <h1 class="author__heading">Hi, I'm Liam.</h1>
    <p class="author__body">Web developer and animator.</p>
</div>

<img src="/img/hero-image.webp" alt="" class="hero-image">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span lass="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>